.product-info {
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
}
.table-label {
    font-weight: bold;
}
.message {
    width: 50%;
    margin-left: 25%;
}

#searchButtons {
    text-align: center;
    padding: 20px;
}