<app-navbar [pagesStatus] = "active"></app-navbar>

<div class="ui content">
	<h1 class="main">Búsqueda de productos</h1>
	<div class="ui divider"></div>

	<div class="custom-form">
		<div class="html ui top attached segment">
			<div class="ui top attached label">Ingresa los datos del producto</div>
			<div class="ui form">

				<div class="field">
					<label>Código del producto</label>
					<input [(ngModel)]="code" type="text">
				</div>

				<button class="ui orange button" (click)="searchProduct()">
					Buscar
				</button>
			</div>
		</div>
	</div>

	<table class="ui celled striped table product-info">
		<thead>
			<tr>
				<th colspan="2">
					Producto #123
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="table-label">Nombre</td>
				<td>Shampoo</td>
			</tr>
			<tr>
				<td class="table-label">Descripción</td>
				<td>The goal of using shampoo is to remove the unwanted build-up in the hair without stripping out so much sebum as to make hair unmanageable.</td>
			</tr>
			<tr>
				<td class="table-label">Precio</td>
				<td>$2.990</td>
			</tr>
		</tbody>
	</table>

</div>