<app-navbar></app-navbar>

<div class="ui content">
	<h1 class="main">Búsqueda de productos</h1>
	<div id="searchButtons">
		<button class="ui red button" (click)="searchById()">
			Buscar por id
		</button>
		<button class="ui yellow button" (click)="searchByName()">
			Buscar por nombre
		</button>
	</div>
	<div class="ui divider"></div>

	<div class="custom-form">
		<div class="html ui top attached segment">
			<div class="ui top attached label">Ingresa los datos del producto</div>
			<div *ngIf="byId" class="ui form">

				<div class="field">
					<label>Ingrese id del producto</label>
					<input [(ngModel)]="product_id" type="number">
				</div>

				<button class="ui orange button" (click)="searchProduct()">
					Buscar
				</button>
			</div>

			<div *ngIf="!byId" class="ui form">
				
				<div class="field">
					<label>Ingrese nombre del producto</label>
					<input [(ngModel)]="productName" type="string">
				</div>

				<button class="ui orange button" (click)="getProduct()">
					Buscar
				</button>
			</div>

			
		</div>
		
	</div>
	
	<table class="ui striped table product-info" *ngIf="activeSearchByName">
		<thead>
		  <tr>
			<th colspan="7">
			  Productos - Resultados obtenidos:
			</th>
		  </tr>
		</thead>
		<thead>
		  <tr>
			<th>ID producto</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>ID categoría</th>
			<th>Grupo</th>
			<th>Área</th>
			<th>contexto</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let product of productsName">
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>${{product.price}}</td>
			<td>{{product.category.id}}</td>
			<td>{{product.category.group}}</td>
			<td>{{product.category.area}}</td>
			<td>{{product.category.context}}</td>
		  </tr>
		</tbody>
	  </table>

	<div class="ui negative message" *ngIf="error_msg">
		<div class="header">
			Error en la búsqueda
		</div>
		<p>No hemos encontrado el producto ingresado.</p>
	</div>

</div>