.main {
    padding: 40px;
}
.shoppingTable {
    width: 80%;    
    margin-top: 25px;
    margin-left: 10%;
   
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.custom-form {
    width: 80%;
}