
<h1 id="HomeTitle">¡Bienvenido a Arquitrán Spa!</h1>


 <div class="ui divider"></div>
        
<div id="login-form">
    <div class="html ui top attached segment">
        <div class="ui form">

            <br>
            <div class="field">
                <label>Email</label>
                
                <input [(ngModel)]="username" type="email" required>
            </div>

            <div class="field">
                <label>Password</label>
                <input [(ngModel)]="password" type="password" required>                
            </div>

            <button class="ui orange button" type="submit" value="Login" (click)="Login()">
                Login
            </button>
            <button class="ui blue button" type="submit" value="Register" (click)="Register()">Register</button>         

        </div>

        <div class="ui top attached label">Ingresa tus credenciales</div>
    </div>
</div>

<div class="ui negative message" *ngIf="success == false">
		<div class="header">
			Error al iniciar sesion
		</div>
		<p>{{msg}}</p>
	</div>


