<div class="ui secondary top pointing menu">
	<button class="ui icon button item" [routerLinkActive]="['active']" routerLink="/home">
		<i class="home icon"></i>
	</button>
	<a class="item" [routerLinkActive]="['active']" routerLink="/products">
		Ver productos
	</a>
	<a class="item" [routerLinkActive]="['active']" routerLink="/product">
		Buscar producto
	</a>
	<a class="item" [routerLinkActive]="['active']" routerLink="/categories">
		Categorías
	</a>
	<a class="item" [routerLinkActive]="['active']" routerLink="/order">
		Comprar
	</a>
	<div class="right menu">
		<div class="ui item" style="font-weight: bold">{{username}}</div>
		<a class="ui item" (click)="Logout()">
			Logout
		</a>
	</div>
</div>