<div class="ui secondary top pointing menu">
	<button class= {{pagesStatus.home}} routerLink="/home">
		<i class="home icon"></i>
	</button>
	<a class= {{pagesStatus.product}} routerLink="/product">
		Consultar producto
	</a>
	<a class= {{pagesStatus.order}} routerLink="/order">
		Comprar
	</a>
	<a class= {{pagesStatus.categories}} routerLink="/categories">
		Categorías
	</a>
	<a class= {{pagesStatus.products}} routerLink="/products">
		Ver productos
	</a>
	<div class="right menu">
		<a class="ui item" routerLink="/">
			Logout
		</a>
	</div>
</div>
