<app-navbar></app-navbar>

<!-- All categories are now in the first page -->
<!-- <button class="ui orange button more" (click)="nextPage()">
  SHOW MORE
</button> -->

<table class="ui striped table">
  <thead>
    <tr>
      <th colspan="4">
        Categorias
      </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Area
      </th>
      <th>
        Context
      </th>
      <th>
        Group
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{category.id}}</td>
      <td>{{category.area}}</td>
      <td>{{category.context}}</td>
      <td>{{category.group}}</td>
    </tr>
  </tbody>
</table>