<app-navbar></app-navbar>

<div class="ui content">

	<h1 class="main">Compra de productos</h1>

	<div class="ui divider"></div>

	<div class="custom-form">
		<div class="html ui top attached segment">
			<div class="ui top attached label">Ingresa los datos para realizar la compra</div>
			<div class="ui form">

				<div class="field">
					<label>ID Producto</label>
					<input [(ngModel)]="product_id" type="number">
				</div>

				<div class="field">
					<label>Dirección de entrega</label>
					<input [(ngModel)]="address" type="text">
				</div>

				<button class="ui orange button" (click)="makeOrder()">
					Comprar
				</button>

			</div>
		</div>
	</div>

	<div class="ui positive message" *ngIf="success">
		<div class="header">
			¡Compra exitosa!
		</div>
		<p>{{msg}}</p>
	</div>

	<div class="ui negative message" *ngIf="success == false">
		<div class="header">
			Error en la compra
		</div>
		<p>{{msg}}</p>
	</div>

</div>