<app-navbar></app-navbar>

<h1 class="main">Productos disponibles en Arquitrán!</h1>

<div class="row">
  <div class="column left">
    
    <table class="ui striped table">
      <thead>
        <tr>
          <th colspan="7">
            Productos - Page {{page}}
          </th>
        </tr>
      </thead>
      <thead>
        <tr class="center aligned">
          <th>ID producto</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>ID categoría</th>
          <th>Grupo</th>
          <th>Área</th>
          <th>Contexto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="center aligned">{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>${{product.price}}</td>
          <td class="center aligned">{{product.category.id}}</td>
          <td>{{product.category.group}}</td>
          <td>{{product.category.area}}</td>
          <td>{{product.category.context}}</td>
        </tr>
      </tbody>
    </table>

    <div id="pagesButtons">
      <button class="ui blue button more" (click)="previousPage()">
        Previous Page
      </button>
      <button class="ui green button more" (click)="nextPage()">
        Next Page
      </button>
    </div>

  </div>
</div>