<app-navbar></app-navbar>

<button class="ui orange button more" (click)="nextPage()">
  SHOW MORE
</button>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th colspan="3">
        Productos - Page {{page}}
      </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
    </tr>
  </tbody>
</table>