<form (submit)="RegisterUser($event)">

    
      <div class="Input">
          <label>Name</label>
          <input type="text" required>
      </div>

      <div class="Input">
          <label>Username</label>
          <input type="text" required>
      </div>

      <div class="Input">
          <label>Email</label>
          <input type="text" required>
      </div>
    
      <div class="Input">
          <label>Password</label>
          <input type="password" required>
      </div>
    
      <div class="Input">
          
          <input type="submit" value="Register">
      </div>
      
    
    
    </form>