/* You can add global styles to this file, and also import other style files */
.menu {
    background-color: white !important;
}
.content {
    margin-top: 40px !important;
}
.logo {
    padding: 0 !important;
}
.logo img {
    padding: 3px;
}