/* You can add global styles to this file, and also import other style files */

/* Top menu style */
.menu {
    background-color: white !important;
    margin-bottom: 0 !important;   
}

/* Custom form */
.custom-form {
    width: 50%;
    margin: 0 auto;
}
.ui.attached.label {
    background-color: #f2711c;
    color: #fff;
}

/* Page title  */
h1.main {
    padding: 20px 20px 0 20px;
    text-align: center;
    margin-bottom: 0;
}